---
import Layout from '@/layouts/Layout.astro'
import { checkSlugDuplication } from '@/utils/content'
import { generatePostPaths } from '@/utils/i18n'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('posts')

  const duplicates = await checkSlugDuplication(posts)
  if (duplicates.length > 0) {
    throw new Error(`Slug conflicts found:\n${duplicates.join('\n')}`)
  }

  return generatePostPaths(posts)
}

const { post } = Astro.props
const { Content, remarkPluginFrontmatter } = await post.render()
---

<Layout
  postTitle={post.data.title}
  postDescription={post.data.description}
  postImage={post.data.image}
>
  <article class="heti">
    <h1 class="post-title">
      <span transition:name={`post-${post.data.slug || post.slug}`}>
        {post.data.title}
      </span>
    </h1>

    <div
      class="mb-20.5 block c-primary font-time"
      transition:name={`time-${post.data.slug || post.slug}`}
    >
      <time>
        {post.data.published.toLocaleDateString('zh-CN', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-')}
      </time>
      <span class="ml-2">
        {remarkPluginFrontmatter.minutes} min
      </span>
    </div>
    <Content />
  </article>
</Layout>
