---
import Layout from '@/layouts/Layout.astro'
import { checkSlugDuplication } from '@/utils/content'
import { generatePostPaths } from '@/utils/i18n'
import { getCollection } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('posts')

  const duplicates = await checkSlugDuplication(posts)
  if (duplicates.length > 0) {
    throw new Error(`Slug conflicts found:\n${duplicates.join('\n')}`)
  }

  return generatePostPaths(posts)
}

const { post } = Astro.props
const { Content, remarkPluginFrontmatter } = await post.render()
---

<Layout
  postTitle={post.data.title}
  postDescription={post.data.description}
  postImage={post.data.image}
>
  <article class="heti">
    <!-- after:(absolute h-0.25 w-3 origin-left rotate-30 bg-secondary content-empty) before:(absolute h-0.25 w-3 origin-left rotate-330 bg-secondary content-empty) -->
    <div class="relative h-0.25 w-10 bg-secondary opacity-25"></div>
    <h1 class="post-title">
      <span
        transition:name={`post-${post.data.slug || post.slug}`}
        data-disable-transition-on-theme
      >
        {post.data.title}
      </span>
    </h1>

    <div
      class="mb-16.375 block c-primary font-time"
      transition:name={`time-${post.data.slug || post.slug}`}
      data-disable-transition-on-theme
    >
      <time>
        {post.data.published.toLocaleDateString('zh-CN', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-')}
      </time>
      <span class="ml-1.25">
        {remarkPluginFrontmatter.minutes} min
      </span>
    </div>
    <Content />

    {post.data.tags && post.data.tags.length > 0 && (
      <div class="mt-12">
        <div class="h-0.125 w-10 bg-secondary opacity-25"></div>
        <div class="mt-4.375 w-95% flex flex-wrap gap-x-3 gap-y-3.6">
          {post.data.tags.map(tag => (
            <a
              href={`/tags/${tag}/`}
              class="inline-block whitespace-nowrap border border-secondary/25 rounded-full px-3.2 py-0.7 c-secondary transition-colors hover:(border-secondary text-primary)"
            >
              {tag}
            </a>
          ))}
        </div>
      </div>
    )}
  </article>
</Layout>

<!-- <script is:inline>
function _handleBack(e) {
  if (window.history.length > 2) {
    e.preventDefault()
    window.history.back()
    return false
  }
  return true
}
</script> -->
