---
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag } from '@/utils/content'
import { generateMultiLangTagPaths } from '@/utils/i18n/route'

export async function getStaticPaths() {
  const tags = await getAllTags()
  return generateMultiLangTagPaths(tags)
}

const { lang } = Astro.params
const { tag } = Astro.props
const posts = await getPostsByTag(tag)
const allTags = await getAllTags()
---

<Layout>
  <div>
    {allTags.map(tag => (
      <a href={`/${lang}/tags/${tag}/`}>
        {tag}
      </a>
    ))}
  </div>

  <div>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/${lang}/posts/${post.data.abbrlink || post.slug}/`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </div>
</Layout>
