---
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPostsByTag } from '@/utils/content'

export async function getStaticPaths() {
  const tags = await getAllTags()
  return tags.map(tag => ({
    params: { tag },
    props: { tag },
  }))
}

const { tag } = Astro.props
const posts = await getPostsByTag(tag)
const allTags = await getAllTags()
---

<Layout>
  <div class="h-0.125 w-10 bg-secondary opacity-0"></div>
  <div class="mt-3.375 w-95% flex flex-wrap gap-x-3 gap-y-3.6 font-medium font-serif">
    {allTags.map(tag => (
      <a
        href={`/tags/${tag}/`}
        class={`inline-block whitespace-nowrap border rounded-full px-3.2 py-0.7 transition-colors ${
          Astro.props.tag === tag
            ? "border-secondary text-primary"
            : "border-secondary/25 c-secondary hover:(border-secondary text-primary)"
        }`}
      >
        {tag}
      </a>
    ))}
  </div>

  <div class="mt-10.625">
    <ul>
      {posts.map(post => (
        <li class="mt-4.375">
          <a
            class="hover:c-primary"
            href={`/posts/${post.data.slug || post.slug}`}
            transition:name={`post-${post.data.slug || post.slug}`}
            data-disable-transition-on-theme
          >
            {post.data.title}
          </a>

          <div
            class="mb-5.625 text-3.5 leading-6.875 font-time lg:(hidden)"
            transition:name={`time-${post.data.slug || post.slug}`}
            data-disable-transition-on-theme
          >
            <time>
              {post.data.published.toLocaleDateString('zh-CN', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-')}
            </time>
            <span class="ml-1.25">
              {post.remarkPluginFrontmatter?.minutes} min
            </span>
          </div>

          <div class="mb-5.625 hidden text-3.65 leading-6.875 font-time lg:(ml-2.5 inline)">
            <time>
              {post.data.published.toLocaleDateString('zh-CN', { year: 'numeric', month: '2-digit', day: '2-digit' }).replace(/\//g, '-')}
            </time>
            <span class="ml-1.25">
              {post.remarkPluginFrontmatter?.minutes} min
            </span>
          </div>
        </li>
      ))}
    </ul>
  </div>
</Layout>
