---
import themeConfig from '@/config'

interface Props {
  class?: string
}

const { class: className } = Astro.props
const { author } = themeConfig.site
const {
  startYear,
  linkA: { name: nameA, url: urlA },
  linkB: { name: nameB, url: urlB },
  linkC: { name: nameC, url: urlC },
} = themeConfig.footer

const currentYear = new Date().getFullYear()
const year = Number(startYear) === currentYear
  ? startYear
  : `${startYear}-${currentYear}`
---

<footer
  class:list={[
  'bottom-22 text-3 lg:text-3.5 leading-4.75 font-navbar',
  className,
  ]}
>
  <p>
    <a class="hover:(c-primary transition-colors)" href={urlA}>{nameA}</a> /
    <a class="hover:(c-primary transition-colors)" href={urlB}>{nameB}</a> /
    <a class="hover:(c-primary transition-colors)" href={urlC}>{nameC}</a>
  </p>

  <p>
    Powered by <a class="hover:(c-primary transition-colors)" href="https://astro.build/">Astro</a> and <a class="hover:(c-primary transition-colors)" href="https://github.com/radishzzz/astro-theme-retypeset">Retypeset</a>
  </p>
  
  <p>
    © {year} {author}
  </p>
</footer>
