---
import LanguageSwitcher from '@/components/Widgets/LanguageSwitcher.astro'
import ThemeToggle from '@/components/Widgets/ThemeToggle.astro'
import themeConfig from '@/config'

interface Props {
  class?: string
  supportedLangs: string[]
}

const { class: className, supportedLangs = [] } = Astro.props
const { author } = themeConfig.site
const { links, startYear } = themeConfig.footer

const currentYear = new Date().getFullYear()
const year = Number(startYear) === currentYear
  ? startYear
  : `${startYear}-${currentYear}`
---

<footer
  class:list={[
    'bottom-22 text-3 lg:text-3.5 leading-4.75 font-navbar',
    className,
  ]}
>
  <!-- Desktop widget -->
  <div class="mb-11.5 ml-1.5 hidden gap-7 lg:flex">
    <ThemeToggle />
    <LanguageSwitcher supportedLangs={supportedLangs} />
  </div>

  <p>
    {links.map((link, index) => (
      <>
        <a class="hover:(c-primary transition-colors)" href={link.url}>
          {link.name}
        </a>
        {index < links.length - 1 && ' / '}
      </>
    ))}
  </p>

  <p>
    Powered by <a class="hover:(c-primary transition-colors)" href="https://astro.build/">Astro</a> and <a class="hover:(c-primary transition-colors)" href="https://github.com/radishzzz/astro-theme-retypeset">Retypeset</a>
  </p>

  <p>
    © {year} {author}
  </p>
</footer>
