---
import themeConfig from '@/config'

const { title, subtitle, favicon } = themeConfig.site
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href={favicon} />
  <meta name="generator" content={Astro.generator} />
  <title>{title} - {subtitle}</title>

  <link
    rel="alternate"
    type="application/rss+xml"
    title={title}
    href={`${themeConfig.site.url}/rss.xml`}
  />
</head>
