---
import { themeConfig } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getPinnedPosts, getPosts } from '@/utils/content.config'

export function getStaticPaths() {
  return themeConfig.global.moreLocale.map(lang => ({
    params: { lang },
  }))
}

const { lang } = Astro.params
const pinnedPosts = await getPinnedPosts()
const posts = await getPosts()
---

<Layout>
  <main>
    {pinnedPosts.length > 0 && (
      <section>
        <ul>
          {pinnedPosts.map(post => (
            <li>
              <a href={`/${lang}/posts/${post.slug}/`}>
                {post.data.title}
                <time>({post.data.published.toISOString().split('T')[0]})</time>
              </a>
            </li>
          ))}
        </ul>
      </section>
    )}

    <section>
      <ul>
        {posts.map(post => (
          <li>
            <a href={`/${lang}/posts/${post.slug}/`}>
              {post.data.title}
              <time>({post.data.published.toISOString().split('T')[0]})</time>
            </a>
          </li>
        ))}
      </ul>
    </section>
  </main>
</Layout>
