---
import { themeConfig } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getPinnedPosts, getPostsByYear } from '@/utils/content'

export function getStaticPaths() {
  return themeConfig.global.moreLocale.map(lang => ({
    params: { lang },
  }))
}

const { lang } = Astro.params
const pinnedPosts = await getPinnedPosts(lang)
const postsByYear = await getPostsByYear(lang)
---

<Layout>
  <main>
    {pinnedPosts.length > 0 && (
      <section>
        <ul>
          {pinnedPosts.map(post => (
            <li>
              <a href={`/${lang}/posts/${post.data.slug || post.slug}/`}>
                {post.data.title}
                <time class="block lg:inline lg:before:content-['_']">
                  {post.data.published.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit' }).replace('/', '-')}
                  {post.remarkPluginFrontmatter?.minutes && <span> · {post.remarkPluginFrontmatter.minutes} min</span>}
                </time>
              </a>
            </li>
          ))}
        </ul>
      </section>
    )}

    {[...postsByYear.entries()].map(([year, posts]) => (
      // Year Group
      <section class="mt-8">
        {/* Year */}
        <time class="text-8 font-navbar">{year}</time>
        {/* Posts List */}
        <ul>
          {posts.map(post => (
            // Single Post
            <li class="mt-6">
              {/* Post Title */}
              <a href={`/${lang}/posts/${post.data.slug || post.slug}`}>{post.data.title}</a>
                {/* Post Date */}
                <time class="block text-5.6 leading-7 font-navbar opacity-30 lg:inline lg:before:content-['_']">
                  {post.data.published.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit' }).replace('/', '-')}
                  {post.remarkPluginFrontmatter?.minutes && <span class="ml-2">  {post.remarkPluginFrontmatter.minutes} min</span>}
                </time>
            </li>
          ))}
        </ul>
      </section>
    ))}
  </main>
</Layout>
