---
// import BackToTop from '@/components/BackToTop.astro'
import Footer from '@/components/Footer.astro'
import MainHeader from '@/components/MainHeader.astro'
import MobileHeader from '@/components/MobileHeader.astro'
import Navigation from '@/components/Navbar.astro'
// import LanguageSwitcher from '@/components/Widgets/LanguageSwitcher.astro'
// import PhotoSwipe from '@/components/PhotoSwipe.astro'
// import Scrollbar from '@/components/Scrollbar.astro'
import ThemeToggle from '@/components/Widgets/ThemeToggle.astro'
import themeConfig from '@/config'
import Head from '@/layouts/Head.astro'
import { getPagePath } from '@/utils/path'
import '@/styles/font.css'
import '@/styles/global.css'
import '@/styles/heti.css'

interface Props {
  postTitle?: string
  postDescription?: string
  postSlug?: string
}

const { postTitle, postDescription, postSlug } = Astro.props
const { isHome, isPost } = getPagePath(Astro.url.pathname)
const fontStyle = themeConfig.global.fontStyle === 'serif' ? 'font-serif' : 'font-sans'

const footerMarginClass = isPost && themeConfig.comment?.waline?.serverURL
  ? 'mt-8'
  : 'mt-12'
---

<html
  lang={Astro.currentLocale || 'en-US'}
  class={fontStyle}
  data-overlayscrollbars-initialize
>
  <Head {postTitle} {postDescription} {postSlug} />
  <body data-overlayscrollbars-initialize>
    <!-- mobile -->
    <!-- mobile width: 393px / suitable words number: 21 / content width: 21*16px=336px / padding: (393px-336px)/2=28.5px=（28.5px/393px）=7.25vw -->
    <!-- max mobile width: 1024px / max word number: 42+2=44 / max content width: 44*16px=704px / max div width: 704px/(100vw-7.25vw*2)=823.3918px/4=205.848 / max padding: 823.3918px-704px=119.3918px/2=59.6959px/16=3.731rem -->
    <!-- desktop -->
    <!-- desktop min div width: 1024px-90px*2=844px / min words number: 32 / min content width: 32*16px=512px/16=32rem / title width: 14*16px=224px/16=14rem / min-gap: 844px-512px-224px=108px -->
    <!-- desktop max div width: 1100px+90px*2=1280px/4=320 / max words number: 42+2=44 / max content width: 44*16px=704px / title width: 14*16px=224px / max-gap: 1100px-704px-224px=172px/16=10.75rem -->
    <!-- content width: calc(32rem+(100vw-1024px)*(44rem-32rem)/(1280-1024))=calc(75vw-16rem) / gap width: calc(6.75rem+(100vw-1024px)*(10.75rem-6.75rem)/(1280-1024))=calc(25vw-9.25rem) -->
    <div
      class="mx-auto max-w-205.848 min-h-vh min-w-80 min-h-dvh w-full"
      p="x-[min(7.25vw,3.731rem)] y-8 lg:(x-22.5 y-20)"
      lg="max-w-320 grid cols-[min(calc(75vw-16rem),44rem)_14rem] gap-[min(calc(25vw-9.25rem),10.75rem)]"
    >
      <div class={!isHome && isPost ? 'hidden lg:block' : ''}>
        <MainHeader />
        <Navigation />
        <Footer class="fixed hidden lg:block" />
      </div>

      {!isHome && isPost && <MobileHeader /> }

      <main class="col-start-1 row-start-1">
        <slot />
      </main>
      <Footer class={`block lg:hidden ${footerMarginClass}`} />
    </div>

    <!--  fix position issue on ios   -->
    <div class="absolute right-[min(7.25vw,3.731rem)] top-13.5 flex gap-6 [@supports(-webkit-touch-callout:none)]:top-12.5">
      <!-- <LanguageSwitcher /> -->
      <ThemeToggle />
    </div>
    <!-- <Scrollbar /> -->
    <!-- <BackToTop /> -->
    <!-- <PhotoSwipe /> -->
  </body>
</html>
