---
import Head from '@/components/Head.astro'
import ThemeToggle from '@/components/ThemeToggle.astro'
import themeConfig from '@/config'
import '@/styles/global.css'

interface Props {
  postTitle?: string
  postDescription?: string
  postImage?: string
}

const { postTitle, postDescription, postImage } = Astro.props

const fontStyle = `font-${themeConfig.global.font}`
const colorMode = themeConfig.color.mode
---

<html lang={Astro.currentLocale || 'en-US'} class={`${fontStyle} ${colorMode}`}>
  <head>
    <Head {postTitle} {postDescription} {postImage} />
  </head>
  <body>
    <ThemeToggle />
    <main
      class="mx-a max-w-123rem h-dvh"
      lg="grid gap-x-6 cols-[3fr_1fr] rows-[1fr_9rem]"
    >
      <slot />
    </main>
  </body>
</html>
